In [2]:
import pandas as pd

In [4]:
# Lendo as 11 bases .xlsx com os nomes de 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023 e 2024
folder_path = 'bases_concatenar/'
file_name = ''
file_extension = '.xlsx'
dfs = []
for i in range(2014, 2025):
    file_path = folder_path + file_name + str(i) + file_extension
    df = pd.read_excel(file_path)
    dfs.append(df)

/home/falcao/Documents/SEPLAG/Previsao/Aplicacao_WB/venv/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/falcao/Documents/SEPLAG/Previsao/Aplicacao_WB/venv/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/falcao/Documents/SEPLAG/Previsao/Aplicacao_WB/venv/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/falcao/Documents/SEPLAG/Previsao/Aplicacao_WB/venv/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/falcao/Documents/SEPLAG/Previsao/Aplicacao_WB/venv/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/falcao/Documents/SEPLAG/Previsao/Aplicacao_WB/venv/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/falcao/Documents/SEPLAG/Previsao/Aplicacao_WB/venv/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/falcao/Documents/SEPLAG/Previsao/Aplicacao_WB/venv/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/falcao/Documents/SEPLAG/Previsao/Aplicacao_WB/venv/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/falcao/Documents/SEPLAG/Previsao/Aplicacao_WB/venv/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/home/falcao/Documents/SEPLAG/Previsao/Aplicacao_WB/venv/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [5]:
df.head()

,ANO,PODER,UO,DESCRICAO_UO,UG,DESCRICAO_UG,FUNCAO,DESCRICAO_FUNCAO,SUB_FUNCAO,DESCRICAO_SUB_FUNCAO,...,NATUREZA,DESCRICAO_NATUREZA,CODIGO_FAVORECIDO,NOME_FAVORECIDO,COD_TIPO_LICITACAO,TIPO_LICITACAO,MES,VALOR_EMPENHADO,VALOR_LIQUIDADO,VALOR_PAGO
0,2024,JUD,2003,TRIBUNAL DE JUSTIÇA,20003,TRIBUNAL DE JUSTIÇA,2,JUDICIÁRIA,61,AÇÃO JUDICIÁRIA,...,333901414,DIARIAS NO PAIS (DENTRO DO ESTADO),94375194553,RODRIGO EVARISTO DE OLIVEIRA E SILVA,8,Não aplicável,1,494.40,494.40,494.40
1,2024,EXE,11504,AGÊNCIA REGULADORA DOS SERVIÇOS PÚBLICOS DO ES...,410504,AGÊNCIA REGULADORA DOS SERVIÇOS PÚBLICOS DO ES...,4,ADMINISTRAÇÃO,125,NORMATIZAÇÃO E FISCALIZAÇÃO,...,333901514,DIARIAS NO PAIS (DENTRO DO ESTADO),75889552449,FRANCISCO DE ASSIS MONTEIRO DA SILVA,8,Não aplicável,2,1449.00,1449.00,1449.00
2,2024,EXE,27524,FUNDO ESTADUAL DE SAÚDE,510524,FUNDO ESTADUAL DE SAÚDE,10,SAÚDE,305,VIGILÂNCIA EPIDEMIOLÓGICA,...,333904718,OBRIGAÇÕES PATRONAIS S/ SERVIÇOS DE PESSOA FÍSICA,00394460041174,MINISTERIO DA ECONOMIA,8,Não aplicável,2,77967.43,77967.43,77967.43
3,2024,EXE,27524,FUNDO ESTADUAL DE SAÚDE,510556,UNIVERSIDADE ESTADUAL DE CIÊNCIAS DA SAÚDE DE ...,10,SAÚDE,302,ASSISTÊNCIA HOSPITALAR E AMBULATORIAL,...,333903996,OUTROS SERVIÇOS DE TERCEIROS PJ (39) - PAGTO A...,64386015434,ELIANE DOS SANTOS LIMA,9,Suprimento de Fundos,2,8000.00,8000.00,8000.00
4,2024,EXE,91997,ENCARGOS GERAIS DO ESTADO - RECURSOS SOB SUPER...,910997,ENCARGOS GERAIS DO ESTADO - RECURSOS SOB SUPER...,28,ENCARGOS ESPECIAIS,843,SERVIÇO DA DÍVIDA INTERNA,...,346907101,EMPRÉSTIMOS EM CONTRATOS - INSTITUIÇÕES FINANC...,PF2223314,PROINVESTE-BNDES,8,Não aplicável,2,0.00,319202.79,319202.79

In [6]:
 df = df[['ANO', 'MES', 'PODER', 'UO', 'UG', 'FONTE_MAE', 'NATUREZA3', 'VALOR_EMPENHADO']]

In [7]:
df.head()

    ANO  MES PODER     UO      UG  FONTE_MAE  NATUREZA3  VALOR_EMPENHADO
0  2024    1   JUD   2003   20003        500  333000000           494.40
1  2024    2   EXE  11504  410504        501  333000000          1449.00
2  2024    2   EXE  27524  510524        600  333000000         77967.43
3  2024    2   EXE  27524  510556        500  333000000          8000.00
4  2024    2   EXE  91997  910997        500  346000000             0.00

In [8]:
df.to_csv('bases_concatenar/2014_2024.csv', index=False)

In [14]:
df = pd.read_csv('data/2014_2024.csv')

In [15]:
# NATUREZA3 = 331000000 and 331000000 and 345000000 and 346000000
df = df[(df['NATUREZA3'] == 331000000)]

df = df[df['PODER'] == 'EXE'] # Apenas o poder executivo

In [16]:
df.head()

     ANO  MES PODER     UO      UG  FONTE_MAE  NATUREZA3  VALOR_EMPENHADO
30  2024    3   EXE  11008  110008        500  331000000           398.41
32  2024    3   EXE  13017  410017        500  331000000        841049.00
36  2024    3   EXE  16026  520026        500  331000000          1328.99
40  2024    3   EXE  27556  510556        500  331000000        231068.87
42  2024    3   EXE  11009  110009        500  331000000           702.07

In [17]:
df.shape

(6425, 8)

In [18]:
df['VALOR_EMPENHADO'].sum()

np.float64(5173929233.870001)